%ul.nav.navbar-nav
  - Category.all.each do |f|
    %li{class: "#{current_class?(category_path(f))}"}
      - if is_mobile_device? || is_tablet_device?
        = link_to "#{f.name} jobs", category_path(f)
      - else
        = link_to "#{f.name}", category_path(f)