%ul.nav.navbar-nav.navbar-right
  %li{class: "#{current_class?(new_job_path)}"}
    = link_to "<span class='glyphicon glyphicon-plus'></span> Post a job".html_safe, new_job_path, class: "bolded"
  - if !user_signed_in?
    %li{class: "#{current_class?(new_user_session_path)}"}
      = link_to "Log in", new_user_session_path
    %li{class: "#{current_class?(new_user_registration_path)}"}
      = link_to "Register", new_user_registration_path
  - else
    - if current_user.admin?
      %li.dropdown
        %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "", role: "button"}
          %strong
            %span.glyphicon.glyphicon-user
            Admin
          %span.caret
        %ul.dropdown-menu
          %li
            = link_to "New jobs (#{Job.where(status: false).count})", new_jobs_path
            = link_to "All jobs (#{Job.all.count})", user_path(current_user)
            = link_to "List of users (#{User.all.count})", admin123_path
    - elsif !current_user.admin? && current_user.jobs.count > 0
      %li{class: "#{current_class?(user_path(current_user))}"}
        = link_to "<span class='glyphicon glyphicon-user'></span> My jobs <span class='badge'>#{current_user.jobs.count}</span>".html_safe, user_path(current_user)
    - else
      %li= link_to "<span class='glyphicon glyphicon-user'></span> My jobs ".html_safe, user_path(current_user)
    %li= link_to "<span class='glyphicon glyphicon-off'></span> Logout".html_safe, destroy_user_session_path, method: :delete