/ %ul.nav.navbar-nav
%li.dropdown
  %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
    Categories
    %span.caret
  %ul.dropdown-menu
    - Category.all.order('category_number ASC').each do |f|
      %li{class: "#{current_class?(category_path(f))}"}
        - if is_mobile_device? || is_tablet_device?
          = link_to "#{f.name} jobs", category_path(f)
        - else
          = link_to "#{f.name}", category_path(f)