%br

= simple_form_for @job do |f|
  .form-group
    = f.input :title, placeholder: "Junior Ruby on Rails Developer"
  .form-group
    = f.label :description
    = f.text_area :description, class: "tinymce", rows: 16
    = tinymce
  .form-group
    = f.input :category_id, collection: @categories
  .form-group
    = f.input :email, placeholder: "e.g. john@company.com"
  .form-group
    = f.input :url, placeholder: "e.g. www.yourcompany.com or url of the job offer"
  .form-group
    .row
      .col-md-3
        = f.input :salary_from, label: "Salary from", placeholder: "2500"
      .col-md-3
        = f.input :salary_to, label: "Salary to", placeholder: "8500"
      .col-md-3
        = f.input :currency, as: :select, collection: ["PLN", "EUR", "USD", "GBP"], selected: @job.currency
      .col-md-3
        = f.input :salary_per, as: :select, collection: ["hour", "day", "week", "month", "year"], selected: @job.salary_per
  / = f.collection_select :category_id, Category.all, :id, :name, {prompt: "Choose a category"}, class: 'form-control'
  .form-group
    = f.input :company_name, placeholder: "Your company"
  .form-group
    = f.input :company_logo, as: :file
    = image_tag(@job.company_logo.url(:thumb)) if @job.company_logo.present?.present?
  %br
  = f.button :submit, class: "btn btn-primary"