= simple_form_for @job do |f|
  - if current_user.admin?
    .form-group
      = f.input :status
  .form-group
    = f.input :title, placeholder: "Junior Ruby on Rails Developer"
  .form-group
    = f.input :description, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } }
    = javascript_include_tag Ckeditor.cdn_url
  .form-group
    = f.association :category
  .form-group
    = f.input :email, placeholder: "e.g. john@company.com"
  .form-group
    = f.input :url, placeholder: "e.g. www.yourcompany.com or url of the job offer"
  .form-group
    .row-form
      .col-md-3
        = f.input :salary_from, label: "Salary from", placeholder: "2500"
      .col-md-3
        = f.input :salary_to, label: "Salary to", placeholder: "8500"
      .col-md-3
        = f.input :currency, as: :select, collection: ["PLN", "EUR", "USD", "GBP"], selected: @job.currency
      .col-md-3
        = f.input :salary_per, as: :select, collection: ["hour", "day", "week", "month", "year"], selected: @job.salary_per
  / = f.collection_select :category_id, Category.all, :id, :name, {prompt: "Choose a category"}, class: 'form-control'
  .form-group
    = f.input :company_name, placeholder: "Your company"
  .form-group
    = f.input :company_logo, as: :file
    = image_tag(@job.company_logo.url(:thumb)) if @job.company_logo.present?
  - if current_user.admin?
    - if @users.present? && @job.user.present?
      .form-group
        = f.input :user_id, as: :select, collection: @users.map { |u| u.id }, selected: @job.user.id
    - else
      .form-group
        = f.input :user_id, as: :select, collection: @users.map { |u| u.id }
  %br
  = f.button :submit, class: "btn btn-primary"