= simple_form_for @job do |f|
  - if current_user.admin?
    .form-group
      .row-form
        .col-md-6
          = f.input :status, label: "Active"
        .col-md-6
          = f.input :promo
  .form-group
    .row-form
      .col-md-6
        = f.input :title, placeholder: "Junior Ruby on Rails Developer"
      .col-md-6
        = f.association :category
        / = f.collection_select :category_id, Category.all, :id, :name, {prompt: "Choose a category"}, class: 'form-control'
  .form-group
    = f.input :description, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } }
    = javascript_include_tag Ckeditor.cdn_url
  .form-group
    .row-form
      .col-md-3
        = f.input :salary_from, label: "Salary from (net)", placeholder: "2500"
      .col-md-3
        = f.input :salary_to, label: "Salary to (net)", placeholder: "8500"
      .col-md-3
        = f.input :currency, as: :select, collection: ["PLN", "EUR", "USD", "GBP"], include_blank: true, selected: @job.currency
      .col-md-3
        = f.input :salary_per, as: :select, collection: ["hour", "day", "week", "month", "year"], include_blank: true, selected: @job.salary_per
  .form-group
    .row-form
      .col-md-6
        = f.input :company_name, placeholder: "Your company"
      .col-md-6
        = f.input :company_size, placeholder: "e.g. 5, 10-20, 50+, 200+"
  .form-group
    .row-form
      .col-md-6
        = f.input :email, placeholder: "e.g. jobs@company.com"
      .col-md-6
        = f.input :url, placeholder: "e.g. www.yourcompany.com or url of the job offer"
  .form-group
    = f.input :location_requirement, placeholder: "e.g. Global, USA, Europe, Poland, Anywhere"
  .form-group
    = f.input :company_logo, as: :file
    = image_tag(@job.company_logo.url(:thumb)) if @job.company_logo.present?
  - if current_user.admin?
    - if @users.present? && @job.user.present?
      .form-group
        = f.input :user_id, as: :select, collection: @users.map { |u| u.id }, selected: @job.user.id
    - else
      .form-group
        = f.input :user_id, as: :select, collection: @users.map { |u| u.id }
  %br
  = f.button :submit, class: "btn btn-primary"