.homepage-count.centered
  %h1.counter
    = "We have "
    %b
      = Job.all.count    
    - if is_mobile_device?
      %br
    - else
      = ""
    = " remote IT jobs"

- @categories.each do |cat|
  .jobs-group
    %h2.bolded.home= cat.name + " remote jobs"
    - cat.jobs.where(status: true).order('created_at DESC').take(5).each do |f|
      = render partial: '/common_files/jobs-list', locals: { f: f }
    %p.righted
      = link_to "all #{cat.name.downcase} remote jobs (#{is_active_count?(cat.jobs).count}) <span class='glyphicon glyphicon-chevron-right'></span>".html_safe, category_path(cat), class: "btn btn-default"