- if @job.company_name.present?
  - provide(:title, @job.title + " @ " + @job.company_name)
.row.no-margin
  .col-md-8
    %h1= @job.title
    %ol.breadcrumb
      %li
        %span.glyphicon.glyphicon-calendar{"aria-hidden" => "true"}
        = @job.created_at.strftime("%d/%m")
      %li= @job.company_name
      %li= "<strong>".html_safe + @job.salary_from.to_s + " - " + @job.salary_to.to_s + " " + @job.currency.to_s + " / " + @job.salary_per + "</strong>".html_safe
      / %li= mail_to @job.email
      %li= link_to "Apply for this position", @job.url, class: 'btn btn-success btn-xs', target: "_blank"

      - if user_signed_in?
        - if @job.user_id == current_user.id
          = link_to 'Edit', edit_job_path(@job), class: 'btn btn-warning btn-xs'
          = link_to 'Delete', job_path(@job), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger btn-xs'

    %p= @job.description.html_safe if @job.description.present?
    %br
    %a{href: "#{@job.url}", target: "_blank"}
      %button.btn.btn-success{type: "button"} Apply for this position
    %br
    %br
    %br
  .col-md-1
    = new_offer?(@job)
  .col-md-3
    .thumbnail
      .caption
        - if @job.company_logo.present?
          = image_tag("#{@job.company_logo.url(:medium)}", alt: "#{@job.company_name}")
        - else
          = image_tag("https://dummyimage.com/234x200/f4f4f4/000000.png&text=#{@job.company_name}")
        %h3= @job.company_name
        %p= mail_to @job.email
        %p= "Company size: " + @job.company_size.to_s

    %br
    %br
    
    .panel.panel-default
      .panel-body
        %h3.sidebar= "Other #{@job.category.name} offers"
      %ul.list-group
        - @jobs_category.each do |f|
          %li.list-group-item
            = link_to "#{f.title}", job_path(f)

= link_to "<-- Home", root_path