- if @job.company_name.present?
  - provide(:title, @job.title + " @ " + @job.company_name)
.row.no-margin
  .col-md-9
    %h2
      %b= @job.title
      = new_offer?(@job)
    - if is_mobile_device? || is_tablet_device?
      .thumbnail.centered
        .caption
          - if @job.company_logo.present?
            = image_tag("#{@job.company_logo.url(:medium)}", alt: "#{@job.company_name}", class: "center-image")
          - else
            = image_tag("https://dummyimage.com/234x200/f4f4f4/000000.png&text=#{@job.company_name}")
          %h3= "<strong>".html_safe + @job.salary_from.to_s + " - " + @job.salary_to.to_s + " " + @job.currency.to_s + "</strong> <br> <small> + VAT per ".html_safe + @job.salary_per + "</small>".html_safe
          = link_to "Apply for this position", @job.url, class: 'btn btn-success btn-xs', target: "_blank"
          - if user_signed_in?
            - if @job.user_id == current_user.id || current_user.admin?
              = link_to 'Edit', edit_job_path(@job), class: 'btn btn-warning btn-xs'
              = link_to 'Delete', job_path(@job), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger btn-xs'

    .col-md-12
      .offer-head.no-margin
        .row
          .col-md-2.col-xs-3
            = "Posted: "
            %br
            %b= @job.created_at.strftime("%b %d")
          .col-md-3.col-xs-4
            = "Company: "
            %br
            %b= @job.company_name
          / %li= mail_to @job.email
          .col-md-3.hidden-xs
            = "Company size: "
            %br
            %b= @job.company_size.to_s + " people"
          .col-md-4.col-xs-5
            = "Location requirement: "
            %br
            %b= @job.location_requirement.to_s
          / %li= mail_to @job.email

    %p= @job.description.html_safe if @job.description.present?
    %br
    %a{href: "#{@job.url}", target: "_blank"}
      %button.btn.btn-success{type: "button"} Apply for this position
    %br
    %br
    %br
  / .col-md-1
  /   = new_offer?(@job)
  .col-md-3
    .offer-right
      - if is_mobile_device? || is_tablet_device?
        = ""
      - else
        .thumbnail
          .caption
            - if @job.company_logo.present?
              = image_tag("#{@job.company_logo.url(:medium)}", alt: "#{@job.company_name}", class: "center-image")
            - else
              = image_tag("https://dummyimage.com/234x200/f4f4f4/000000.png&text=#{@job.company_name}")
            %h3= "<strong>".html_safe + @job.salary_from.to_s + " - " + @job.salary_to.to_s + " " + @job.currency.to_s + "</strong> <br> <small> per ".html_safe + @job.salary_per + "</small>".html_safe
            = link_to "Apply for this position", @job.url, class: 'btn btn-success btn-xs', target: "_blank"
            - if user_signed_in?
              - if @job.user_id == current_user.id || current_user.admin?
                = link_to 'Edit', edit_job_path(@job), class: 'btn btn-warning btn-xs'
                = link_to 'Delete', job_path(@job), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger btn-xs'
    
    .panel.panel-default
      .panel-body
        %h3.sidebar= "Other #{@job.category.name} jobs"
      %ul.list-group
        - @jobs_category.each do |f|
          %li.list-group-item
            = link_to "#{f.title}", job_path(f)

%a{href: "#{root_path}"}
  %button.btn.btn-default{type: "button"}
    %span.glyphicon.glyphicon-home
    Home