- provide(:title, "Remote job for " + @job.title + " at " + @job.company_name)
- provide(:description, @job.company_name + " offers a remote job for a " + @job.title + " with salary: " + shorter_salary(@job.salary_from).to_s + "-" + shorter_salary(@job.salary_to).to_s + " " + @job.currency.to_s + " net / " + @job.salary_per  + ". Find best remote jobs and work remotely from anywhere.")
.row.no-margin
  .col-md-9
    %h1.job-title
      = @job.title
      = new_offer?(@job)
    - if is_mobile_device? || is_tablet_device?
      .thumbnail.centered
        .caption
          - if @job.company_logo.attached?
            = image_tag("#{@job.company_logo.variant(:medium)}", alt: "#{@job.company_name}", title: "#{@job.company_name}", class: "center-image")
          - else
            = image_tag("https://dummyimage.com/234x200/f4f4f4/000000.png&text=#{@job.company_name}")
          %h3= "<strong>".html_safe + salary_space(@job.salary_from).to_s + " - " + salary_space(@job.salary_to).to_s + " " + @job.currency.to_s + "</strong> <br> <small> + VAT per ".html_safe + @job.salary_per + "</small>".html_safe
          = link_to "Apply for this position", @job.url, class: 'btn btn-success btn-xs', target: "_blank"
          - if user_signed_in?
            - if @job.user_id == current_user.id || current_user.admin?
              = link_to 'Edit', edit_job_path(@job), class: 'btn btn-warning btn-xs'
              = link_to 'Delete', job_path(@job), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger btn-xs'

    .col-md-12
      .offer-head.no-margin
        .row
          .col-md-2.col-xs-3
            = "Posted: "
            %br
            %b= @job.updated_at.strftime("%b %d")
          .col-md-3.col-xs-4
            = "Company: "
            %br
            %b= @job.company_name
          .col-md-3.hidden-xs
            = "Company size: "
            %br
            %b= @job.company_size.to_s + " people"
          .col-md-4.col-xs-5
            = "Location requirement: "
            %br
            %b= @job.location_requirement.to_s

    %p= @job.description.html_safe if @job.description.present?
    %br
    %a{href: "#{@job.url}", target: "_blank"}
      %button.btn.btn-success{type: "button"} Apply for this position *
    %br
    %br
    %p
      %i * Please reference that you found the job on Remojobs.com
    %br
    %br
    - if @job.tags.count > 0
      %strong
        Tags: 
      - @job.tags.each do |f|
        %span
          = link_to "#{f.name}", tag_path(f), title: "#{f.name}", class: 'tag-job'

  / .col-md-1
  /   = new_offer?(@job)
  .col-md-3
    .offer-right
      - if is_mobile_device? || is_tablet_device?
        = ""
      - else
        .thumbnail
          .caption
            - if @job.company_logo.attached?
              = image_tag(@job.company_logo.variant(:medium), alt: "#{@job.company_name}", title: "#{@job.company_name}", class: "center-image")
            - else
              = image_tag("https://dummyimage.com/234x200/f4f4f4/000000.png&text=#{@job.company_name}")
            %h3= "<strong>".html_safe + salary_space(@job.salary_from).to_s + " - " + salary_space(@job.salary_to).to_s + " " + @job.currency.to_s + "</strong> <br> <small> + VAT per ".html_safe + @job.salary_per + "</small>".html_safe
            = link_to "Apply for this position", @job.url, class: 'btn btn-success btn-xs', target: "_blank"
            - if user_signed_in?
              - if @job.user_id == current_user.id || current_user.admin?
                = link_to 'Edit', edit_job_path(@job), class: 'btn btn-warning btn-xs'
                = link_to 'Delete', job_path(@job), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger btn-xs'
    
    .panel.panel-default
      .panel-body
        %h3.sidebar.bolded
          = link_to "More #{@job.category.name} jobs", category_path(@job.category), title: "More remote #{@job.category.name} jobs"
      %ul.list-group
        - @jobs_category.take(10).each do |f|
          %li.list-group-item
            %b= link_to "#{f.title}", job_path(f), title: f.title
            %br
            = f.company_name
            %br
            = shorter_salary(f.salary_from).to_s + " - " + shorter_salary(f.salary_to).to_s + " " + f.currency.to_s + " / " + f.salary_per
%br

%a{href: "#{root_path}", title: "Go to homepage"}
  %button.btn.btn-default{type: "button"}
    %span.glyphicon.glyphicon-home
    Home
