%h2.centered= "List of users (#{User.all.count})"
%table.table.table-hover
  %thead
    %tr
      %th ID
      %th email
      %th Jobs
      %th Logs
      %th.hidden-xs Created
      %th.hidden-xs Last seen
      %th.hidden-xs Current IP
      %th Actions
  - @users.each do |f|
    %tr
      %td= f.id
      %td= f.email
      %td= f.jobs.count
      %td= f.sign_in_count
      %td.hidden-xs= f.created_at.strftime("%Y-%m-%d %H:%M")
      %td.hidden-xs
        -if f.last_sign_in_at.present?
          = f.last_sign_in_at.strftime("%Y-%m-%d %H:%M")
      %td.hidden-xs= f.current_sign_in_ip
      %td
        = link_to 'Show', user_path(f), class: 'btn btn-primary btn-xs admin-buttons'
        = link_to 'Edit', edit_user_path(f), class: 'btn btn-warning btn-xs admin-buttons'