!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Remoteitjobs
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.header
      %nav.navbar.navbar-default
        .container
          .navbar-brand= link_to "remojobs.com", root_path
          %ul.nav.navbar-nav.navbar-right
            %li= link_to "+ Post a job", new_job_path
            %li= link_to "Log in", new_user_session_path
            %li= link_to "Register", new_user_registration_path
    .container
      = yield