!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title= full_title(yield(:title))
    %meta{name: "description", content: "#{full_description(yield(:description))}"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %meta{property: "og:image", content: "#{image_url 'rj.png'}" }
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Quicksand&display=swap'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag asset_path('favicon.png')
    = render '/common_files/ga'
    = render '/common_files/crisp-messenger'
  %body
    %header.header
      %nav.navbar.navbar-default.navbar-fixed-top.shadow-border
        .container
          .navbar-header
            %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", type: "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            .navbar-brand
              %a{href: root_path, title: "Remote jobs"}
                = show_svg("remojobs_logo.svg")
          #navbar.collapse.navbar-collapse
            = render partial: '/common_files/menu-right'
                
    .container
      - flash.each do |key, value|
        %div{class: "#{flash_class(key)}"}
          = value

      = yield
    .footer
      .container
        = link_to "About", about_path
        = " / "
        = link_to "Terms", terms_path
        = " / "
        = link_to "Privacy", privacy_path
        = " / "
        = link_to "Contact", contact_path
        %br
        = "&copy; 2019 - #{DateTime.now.strftime("%Y").to_s} Remojobs.com".html_safe
        %br
        = "#1 IT Job board with remote job offers & salary included".html_safe
        %br
        = "Made with #{image_tag 'rubyonrails-icon.png', title: 'Ruby on Rails'} in Olsztyn, Poland by <a href='https://www.szul.eu/' title='Ruby on Rails Developer' target='_blank'>Mirosław Szul</a>".html_safe
