!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title= full_title(yield(:title))
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.header
      %nav.navbar.navbar-default
        .container
          .navbar-brand
            = link_to image_tag("remojobs_30.png", alt: "Remote IT jobs"), root_path
          %ul.nav.navbar-nav.navbar
            - Category.all.each do |f|
              %li= link_to (f.name), category_path(f)
          %ul.nav.navbar-nav.navbar-right
            %li= link_to "+ Post a job", new_job_path
            - if !user_signed_in?
              %li= link_to "Log in", new_user_session_path
              %li= link_to "Register", new_user_registration_path
            - else
              - if current_user.admin?
                %li= link_to "<strong>Admin</strong>".html_safe, user_path(current_user)
              - elsif !current_user.admin? && current_user.jobs.count > 0
                %li= link_to "My job offers <span class='badge'>#{current_user.jobs.count}</span>".html_safe, user_path(current_user)
              - else
                %li= link_to "My job offers", user_path(current_user)
              %li= link_to "Logout", destroy_user_session_path, method: :delete
    .container
      - flash.each do |key, value|
        %div{class: "#{flash_class(key)}"}
          = value

      = yield
    .footer
      .container
        = "&copy; remojobs.com | Remote IT job board".html_safe
        %br
        = "Made with #{image_tag 'http://www.szul.eu/rubyonrails-icon.png', title: 'Ruby on Rails'} in Poland by <a href='http://www.szul.eu/' title='Ruby on Rails Developer' target='_blank'>Mirosław Szul</a>".html_safe